<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-notice-edit" th:object="${notice}">
            <input id="noticeId" name="noticeId" th:field="*{noticeId}"  type="hidden">
            <div class="form-group">	
                <label class="col-sm-3 control-label">公告标题：</label>
                <div class="col-sm-8">
                    <input id="noticeTitle" name="noticeTitle" th:field="*{noticeTitle}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
				<label class="col-sm-3 control-label">公告类型：</label>
				<div class="col-sm-8">
					<select name="noticeType" class="form-control m-b" th:with="type=${@dict.getType('sys_notice_type')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{noticeType}"></option>
	                </select>
				</div>
			</div>
            <div class="form-group">	
                <label class="col-sm-3 control-label">公告内容：</label>
                <div class="col-sm-8">
                    <input id="noticeContent" name="noticeContent" th:field="*{noticeContent}" type="hidden">
                    <div id="editor" class="summernote"></div>
                </div>
            </div>
            <div class="form-group">	
				<label class="col-sm-3 control-label">附        件：</label>
				<div class="col-sm-8">
					<button type="button" class="layui-btn" id="appendix" lay-data="{ accept: 'file'}">
						<i class="layui-icon">&#xe67c;</i>上传附件
					</button>
					<a id="appendixLink" >[[${notice.sysFile?.originalFileName}]]</a>
					<input type="hidden" name="sysFile.originalFileName" id="originalFileName" th:field="*{sysFile.originalFileName}">
					<input type="hidden" name="sysFile.fileId" id="fileId" th:field="*{sysFile.fileId}">
					<input type="hidden" name="sysFile.filePath" id="filePath" th:field="*{sysFile.filePath}">
				</div>
			</div>
            <div class="form-group">
				<label class="col-sm-3 control-label">公告状态：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_notice_status')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
    <script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
    <script type="text/javascript">
        var prefix = ctx + "system/notice";
    
	    $(function() {
	    	var param = "[[${notice.sysFile?.downloadParam}]]".replace("&amp;","&");
	    	$("#appendixLink").click(function(){
	    		downloadFile(param);
	    	});
		    $('.summernote').summernote({
		    	height : '220px',
				lang : 'zh-CN',
				callbacks: {
	                onImageUpload: function (files) {
	                    sendFile(files[0], this);
	                }
	            }
		    });
			var content = $("#noticeContent").val();
		    $('#editor').summernote('code', content);
	    });
	    
	    // 上传文件
	    function sendFile(file, obj) {
	        var data = new FormData();
	        data.append("file", file);
	        $.ajax({
	            type: "POST",
	            url: ctx + "common/upload",
	            data: data,
	            cache: false,
	            contentType: false,
	            processData: false,
	            dataType: 'json',
	            success: function(result) {
	                if (result.code == web_status.SUCCESS) {
	                	$(obj).summernote('editor.insertImage', result.url, result.fileName);
					} else {
						$.modal.alertError(result.msg);
					}
	            },
	            error: function(error) {
	                $.modal.alertWarning("图片上传失败。");
	            }
	        });
	    }
	    //layui上传附件
	    layui.use('upload', function(){
	      var upload = layui.upload;
	       
	      //执行实例
	      var uploadInst = upload.render({
	        elem: '#appendix' //绑定元素
	        ,size: 1000*10
	        ,url: ctx + "common/upload" //上传接口
	        ,exts: 'pdf|doc|docx|jpg|png|xls|xlsx|txt|vsdx'
	        ,done: function(res){
				//上传完毕回调
				$.modal.msgSuccess(res.msg);
				var downloadParam = "?fileName="+res.fileName+"&originalFileName="+res.originalFileName;
				$("#appendixLink").text(res.originalFileName).attr("onclick","downloadFile('"+downloadParam+"')");
				$("#originalFileName").val(res.originalFileName);
				$("#fileId").val('');
				$("#filePath").val(res.fileName);
	        }
	        ,error: function(){
	          $.modal.msgError("上传失败");
	        }
	      });
	    });
	 	//下载附件
		function downloadFile(downloadParam){
		    window.location.href = ctx + "common/download" + downloadParam;
		    
		}
		$("#form-notice-edit").validate({
			rules:{
				noticeTitle:{
					required:true,
				}
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	var sHTML = $('.summernote').summernote('code');
				$("#noticeContent").val(sHTML);
				$.operate.save(prefix + "/edit", $('#form-notice-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
