<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    <div th:include="include :: footer"></div>
    <select id="select22">
	</select>
    <script th:src="@{/ajax/libs/select/select2.js}"></script>
    <script type="text/javascript">
    var data = [
                {
                    id: 0,
                    text: 'enhancement'
                },
                {
                    id: 1,
                    text: 'bug'
                },
                {
                    id: 2,
                    text: 'duplicate'
                },
                {
                    id: 3,
                    text: 'invalid'
                },
                {
                    id: 4,
                    text: 'wontfix'
                }
            ];

    $("#select22").select2({
		placeholder : "请输入人员工号或名称或名称首字母...",
		minimumInputLength : 1,//最小需要输入多少个字符才进行查询
		allowClear : false,//允许清空
		multiple: true,  
		allowClear : true,
		id : function(rs) {  
	        return rs.staff_id;
	    },
		ajax : {
			url : "/attend/attendBill/ajaxdata",
			delay:100,
			dataType : 'json',
			type : "post",
			data : function(staffName, page) {//向后台发送参数
				return {
					staffName : staffName.item
				};
			},
            results: function (data, page) {
                return {
                    data
                };
            }
		},
		formatResult : function(result, container, query, escapeMarkup) {
			return "asdasdasdas";
		},
		formatSelection : function(result, container, query, escapeMarkup) {
			return "aaa";
		},
		formatInputTooShort : function() {
			return "请输入人员工号或名称或名称首字母...";
		},
		escapeMarkup : function(m) {
			return m;
		}
	});
    </script>
</body>
</html>