<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								：<input type="text" name="empId"/>
							</li>

							<li>
								：<input type="text" name="userId"/>
							</li>

							<li>
								：<input type="text" name="theme"/>
							</li>

							<li>
								：<input type="text" name="attendType"/>
							</li>

							<li>
								：<input type="text" name="deptName"/>
							</li>

							<li>
								：<input type="text" name="deptId"/>
							</li>

							<li>
								：<input type="text" name="userName"/>
							</li>

							<li>
								：<input type="text" name="applyDate"/>
							</li>

							<li>
								：<input type="text" name="startDate"/>
							</li>

							<li>
								：<input type="text" name="endDate"/>
							</li>

							<li>
								：<input type="text" name="startTime"/>
							</li>

							<li>
								：<input type="text" name="endTime"/>
							</li>

							<li>
								：<input type="text" name="applyWorkdays"/>
							</li>

							<li>
								：<input type="text" name="applyWorkdayTimes"/>
							</li>

							<li>
								：<input type="text" name="matter"/>
							</li>

							<li>
								：<input type="text" name="isOffet"/>
							</li>

							<li>
								：<input type="text" name="completeFlag"/>
							</li>

							<li>
								：<input type="text" name="auditFlag"/>
							</li>

							<li>
								：<input type="text" name="delFlag"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:empAttendBill:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:empAttendBill:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:empAttendBill:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:empAttendBill:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:empAttendBill:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:empAttendBill:remove')}]];
        var prefix = ctx + "system/empAttendBill";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "考勤申请单",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'attendBillId', 
					title : '',
					visible: false
				},
				{
					field : 'empId', 
					title : '',
					sortable: true
				},
				{
					field : 'userId', 
					title : '',
					sortable: true
				},
				{
					field : 'theme', 
					title : '',
					sortable: true
				},
				{
					field : 'attendType', 
					title : '',
					sortable: true
				},
				{
					field : 'deptName', 
					title : '',
					sortable: true
				},
				{
					field : 'deptId', 
					title : '',
					sortable: true
				},
				{
					field : 'userName', 
					title : '',
					sortable: true
				},
				{
					field : 'applyDate', 
					title : '',
					sortable: true
				},
				{
					field : 'startDate', 
					title : '',
					sortable: true
				},
				{
					field : 'endDate', 
					title : '',
					sortable: true
				},
				{
					field : 'startTime', 
					title : '',
					sortable: true
				},
				{
					field : 'endTime', 
					title : '',
					sortable: true
				},
				{
					field : 'applyWorkdays', 
					title : '',
					sortable: true
				},
				{
					field : 'applyWorkdayTimes', 
					title : '',
					sortable: true
				},
				{
					field : 'matter', 
					title : '',
					sortable: true
				},
				{
					field : 'isOffet', 
					title : '',
					sortable: true
				},
				{
					field : 'completeFlag', 
					title : '',
					sortable: true
				},
				{
					field : 'auditFlag', 
					title : '',
					sortable: true
				},
				{
					field : 'delFlag', 
					title : '',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.attendBillId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.attendBillId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>