<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.numberone.emp.mapper.EmpNonworkdayMapper">
  <resultMap type="EmpNonworkday" id="EmpNonworkdayResult">
        <result property="nonworkId"    column="nonwork_id"    />
        <result property="workdate"    column="workdate"    />
        <result property="workdateType"    column="workdate_type"    />
        <result property="workdateName"    column="workdate_name"    />
        <result property="workdateFlag"    column="workdate_flag"    />
        <result property="description"    column="description"    />
    </resultMap>
	
	<sql id="selectEmpNonworkdayVo">
        select nonwork_id, workdate, workdate_type, workdate_name, workdate_flag, description from emp_nonworkday
    </sql>
	
    <select id="selectEmpNonworkdayList" parameterType="EmpNonworkday" resultMap="EmpNonworkdayResult">
        <include refid="selectEmpNonworkdayVo"/>
        <where>  
            <if test="nonworkId != null  and nonworkId != '' "> and nonwork_id = #{nonworkId}</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				AND date_format(workdate,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				AND date_format(workdate,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
			<if test="params.beginTime == null  or params.endTime == ''"><!-- 开始时间检索 -->
				AND date_format(workdate,'%y%m%d') &gt;= date_format(SYSDATE(),'%y0101')
			</if>
			<if test="params.endTime == null and params.endTime == ''"><!-- 结束时间检索 -->
				AND date_format(workdate,'%y%m%d') &lt;= date_format(SYSDATE(),'%y1231')
			</if>
             <if test="workdateType != null "> and workdate_type = #{workdateType}</if>
             <if test="workdateName != null  and workdateName != '' "> and workdate_name like CONCAT('%',#{workdateName},'%')</if>
             <if test="workdateFlag != null "> and workdate_flag = #{workdateFlag}</if>
             <if test="description != null  and description != '' "> and description = #{description}</if>
         </where>
    </select>
    
    <select id="selectEmpNonworkdayById" parameterType="String" resultMap="EmpNonworkdayResult">
        <include refid="selectEmpNonworkdayVo"/>
        where nonwork_id = #{nonworkId}
    </select>
        
    <insert id="insertEmpNonworkday" parameterType="EmpNonworkday">
        insert into emp_nonworkday
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="nonworkId != null  and nonworkId != ''  ">nonwork_id,</if>
			<if test="workdate != null  ">workdate,</if>
			<if test="workdateType != null  ">workdate_type,</if>
			<if test="workdateName != null  and workdateName != ''  ">workdate_name,</if>
			<if test="workdateFlag != null  ">workdate_flag,</if>
			<if test="description != null  and description != ''  ">description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="nonworkId != null  and nonworkId != ''  ">#{nonworkId},</if>
			<if test="workdate != null  ">#{workdate},</if>
			<if test="workdateType != null  ">#{workdateType},</if>
			<if test="workdateName != null  and workdateName != ''  ">#{workdateName},</if>
			<if test="workdateFlag != null  ">#{workdateFlag},</if>
			<if test="description != null  and description != ''  ">#{description},</if>
         </trim>
    </insert>
	 
    <update id="updateEmpNonworkday" parameterType="EmpNonworkday">
        update emp_nonworkday
        <trim prefix="SET" suffixOverrides=",">
            <if test="workdate != null  ">workdate = #{workdate},</if>
            <if test="workdateType != null  ">workdate_type = #{workdateType},</if>
            <if test="workdateName != null  and workdateName != ''  ">workdate_name = #{workdateName},</if>
            <if test="workdateFlag != null  ">workdate_flag = #{workdateFlag},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
        </trim>
        where nonwork_id = #{nonworkId}
    </update>

	<delete id="deleteEmpNonworkdayById" parameterType="String">
        delete from emp_nonworkday where nonwork_id = #{nonworkId}
    </delete>
	
    <delete id="deleteEmpNonworkdayByIds" parameterType="String">
        delete from emp_nonworkday where nonwork_id in 
        <foreach item="nonworkId" collection="array" open="(" separator="," close=")">
            #{nonworkId}
        </foreach>
    </delete>
 	
 	<select id="checkWorkdateUnique" parameterType="date" resultType="int">
		select count(1) from emp_nonworkday where 1=1
			AND date_format(workdate,'%y%m%d') = date_format(#{workdate},'%y%m%d')
	</select>
	
 	<select id="checkWorkdateUniqueForUpdate" parameterType="empNonworkday" resultType="int">
		select count(1) from emp_nonworkday where nonwork_id != #{nonworkId}
			AND date_format(workdate,'%y%m%d') = date_format(#{workdate},'%y%m%d')
	</select>
	
	<!-- 查询工作日 根据日期 -->
  <select id="selectWorkdayByDate" parameterType="Date" resultMap="EmpNonworkdayResult">
		<include refid="selectEmpNonworkdayVo" />
		where 1=1 
		<if test="startDate != null"><!-- 开始时间检索 -->
			AND date_format(workdate,'%y%m%d') = date_format(#{startDate},'%y%m%d')
		</if>
	</select>
	
	<select id="selectCalendarJson" resultType="map">
		select date,attend_code,attend_label
		from emp_workday_calendar
		where effect_flag = 1
		AND date_format(date,'%y%m') = date_format(#{first_date},'%y%m')
		union all
		select date,attend_code,attend_label
		from emp_attend_calendar
		where effect_flag = 1
		and user_id = #{userId}
		AND date_format(date,'%y%m') = date_format(#{first_date},'%y%m')
	</select>
</mapper>