.calendar-quick .calendar-quick-contents a { padding: 10px 0;}
.calendar-body-wapper { padding-bottom: 5px;}
.calendar-body { vertical-align: top;}
.calendar-body li {line-height:140%; vertical-align: top; color:#000; font-size:16px}
.calendar-body li div {overflow: hidden; line-height:120% !important;}
.calendar-body li.weeks{height:24px; font-size:14px; font-weight:normal}
.calendar-body li div span{font-size:12px; color:#ccc}
.calendar-body li div span.hover{color:#2CB4BF}
.calendar-body li.selected div span{color:#fff}
.calendar-body li.current div span{color:#2CB4BF}

.calendar-main {-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;padding: 0;box-shadow:none;border-radius:0;border:0;background:none;}
.calendar-header {padding: 0;}
.calendar-body { vertical-align: top;}
.calendar-body li div span{font-size:12px; color:#ccc}

