<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"> </head>
<link th:href="@{/numberone/css/ry-ui.css}" rel="stylesheet" />
<link th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}"
	rel="stylesheet" />
<link th:href="@{/css/webui-2.7.5.min.css}" rel="stylesheet" />
<link th:href="@{/ajax/libs/datapicker/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
<style>
	
    
    [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
    .container-fluid {
      margin: 0;
      padding: 0;
    }
	
</style>
	<body class="gray-bg" style="padding: 0px">
		<div class="col-sm-12 ">
	        <div class="ibox-title">
	            <h3><i class="fa fa-space-shuttle"></i> 任务：[[${task.taskId+" - 【"+task.taskTypeText+"】"+task.taskTitle}]]
	            <a href="#" style="color:blue" class="copyBtn" data-clipboard-text="" >&nbsp;&nbsp;复制</a>
	            <hr>
	            </h3>
	        </div>
		</div>
		<div class="col-sm-12">
	        <div class="ibox-title">
	            <h5>任务详情</h5>
	        </div>
		</div>
		
		<div class="col-sm-10">
				<div class="ibox-content"  style="height: 330px">
					<form id="task-allocate-form"  th:object="${task}">
						<table class="tableEditor">
							<colgroup>
								<col width="10%" />
								<col width="15%" />
								<col width="10%" />
								<col width="15%" />
								<col width="10%" />
								<col width="15%" />
								<col width="10%" />
								<col width="15%" />
							</colgroup>
							<tbody>
								<tr>
									<input type="hidden" name="taskId" th:field="*{taskId}" id="task_id" />
								</tr>
								<tr>
									<td class="tdLabel"><span>任务标题</span></label></td>
									<td class="tdInput" colspan="7">
			                        	<input type="text" readonly="readonly" name="taskTitle" th:field="*{taskTitle}" />
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>任务状态</span></label></td>
									<td class="tdInput">
										<select name="taskFlag" id="taskFlag" th:field="*{taskFlag}" disabled="disabled"
											th:with="type=${@dict.getType('work_task_flag')}">
											<option value="" >请选择...</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
												th:value="${dict.dictValue}" ></option>
										</select>
									</td>
									<td class="tdLabel"><span>任务类型</span></label></td>
									<td class="tdInput">
										<select name="taskType" id="taskType" th:field="*{taskType}" disabled="disabled"
											th:with="type=${@dict.getType('work_task_type')}">
											<option value="" >请选择...</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
												th:value="${dict.dictValue}"></option>
										</select>
									</td>
									<td class="tdLabel"><span>难易程度</span></label></td>
									<td class="tdInput">
										<select name="diffLevel" id="diffLevel" th:field="*{diffLevel}" disabled="disabled"
											th:with="type=${@dict.getType('work_task_diff_level')}">
											<option value="" >请选择...</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
												th:value="${dict.dictValue}"></option>
										</select>
									</td>
									<td class="tdLabel"><span>优先级</span></label></td>
									<td class="tdInput">
										<select name="priority" id="priority" th:field="*{priority}" disabled="disabled"
											th:with="type=${@dict.getType('work_task_priority')}">
											<option value="" >请选择...</option>
											<option th:each="dict : ${type}" th:text="${dict.dictLabel}"
												th:value="${dict.dictValue}"></option>
										</select>
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>计划开始时间</span></label></td>
									<td class="tdInput">
			                        	<input type="text" name="planStartDate" th:value="${#dates.format(task.planStartDate, 'yyyy-MM-dd')}" readonly="readonly"/>
			                        </div>
									</td>
									<td class="tdLabel"><span>计划完成时间</span></label></td>
									<td class="tdInput">
										<input type="text" name="planEndDate" th:value="${#dates.format(task.planEndDate, 'yyyy-MM-dd')}" readonly="readonly"/>
									</td>
									<td class="tdLabel"><span>预计工时</span></label></td>
									<td class="tdInput" colspan="3">
										<input type="text" name="planHours" th:value="${task.planHours}" readonly="readonly"/>
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>实际开始时间</span></label></td>
									<td class="tdInput">
										<input type="text" name="realEndDate" th:value="${#dates.format(task.realStartDate, 'yyyy-MM-dd')}" readonly="readonly"/>
									</td>
									<td class="tdLabel"><span>实际完成时间</span></label></td>
									<td class="tdInput">
										<input type="text" name="realEndDate" th:value="${#dates.format(task.realEndDate, 'yyyy-MM-dd')}" readonly="readonly"/>
									</td>
									<td class="tdLabel"><span>处理工时</span></label></td>
									<td class="tdInput">
										<input type="text" name="dealHours" th:value="${task.dealHours}" readonly="readonly"/>
									</td>
									<td class="tdLabel"><span>审核工时</span></label></td>
									<td class="tdInput">
										<input type="text" name="auditHours" th:value="${task.auditHours}" readonly="readonly">
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><label for="task_desc" class="textLabel"><span>任务描述</span></label></td>
									<td class="tdInput" colspan="7">
									<textarea name="taskDesc" cols="" rows="6" id="taskDesc" th:value="${task.taskDesc}" readonly="readonly" maxlength="1000">[[${task.taskDesc}]]</textarea>
 									</td>
								</tr>
								<tr>
									<td class="tdLabel" style="height:33px;">任务说明附件&nbsp;</td>
									<td colspan="4">
										<button type="button" class="btn btn-Default" disabled="disabled"><i class="layui-icon">&#xe67c;</i>上传附件</button>
										<a id="appendixLink" >[[${task.appendix.originalFileName}]]</a>
									</td>
									<td>
										<!-- <button type="button" class="button" disabled="disabled"><i class="fa fa-cloud-upload"></i> 添加</button> -->
									</td>
									<td colspan="2"></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
		</div>
		<div class="col-sm-2">
				<div class="ibox-content" style="height: 330px">
					<form role="form" id="task-allocate-form" th:object="${task}">
						<table class="tableEditor">
							<colgroup>
								<col width="40%" />
								<col width="60%" />
							</colgroup>
							<tbody>
								<tr>
									<td class="tdLabel"><span>创建人</span></label></td>
									<td class="tdInput" >
			                        	<input type="text" name="createUserName" th:field="*{createUserName}" readonly="readonly">
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>创建时间</span></label></td>
									<td class="tdInput" >
			                        	<input type="text" name="createTime" th:value="${#dates.format(task.createTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly">
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>处理人</span></label></td>
									<td class="tdInput" >
			                        	<input type="text" name="dealUserName" th:field="*{dealUserName}" readonly="readonly">
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>处理时间</span></label></td>
									<td class="tdInput" >
			                        	<input type="text" name="dealTime" th:value="${#dates.format(task.dealTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly">
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>审核人</span></label></td>
									<td class="tdInput" >
			                        	<input type="text" name="auditUserName" th:field="*{auditUserName}" readonly="readonly">
									</td>
								</tr>
								<tr>
									<td class="tdLabel"><span>审核时间</span></label></td>
									<td class="tdInput" >
			                        	<input type="text" name="auditTime" th:value="${#dates.format(task.auditTime, 'yyyy-MM-dd HH:mm:ss')}" readonly="readonly">
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
		</div>
		<div class="col-sm-12">
                    <div class="ibox-title">
                        <h5>任务执行</h5>
                    </div>
		</div>
		<div class="col-sm-12">
				<div class="ibox-content">
					<form role="form" id="task-allocate-form">
						<table class="tableEditor">
							<colgroup>
								<col width="10%" />
								<col width="80%" />
								<col width="10%" />
							</colgroup>
							<tbody>
								<tr>
								<td class="tdLabel" style="height:32px;">工作提交物&nbsp;</td>
								<td >
									<a id="appendixLink2" >[[${taskPerform.appendix.originalFileName}]]</a>
								</td>
								<td>
									<!-- <button type="button" class="button" disabled="disabled"><i class="fa fa-cloud-upload"></i> 添加</button> -->
								</td>
							</tr>
							<tr>
								<td class="tdLabel" style="height:254px;" >说明&nbsp;</td>
								<td class="tdInput" colspan="2">
									<textarea rows="11" readonly="readonly" id="submission" class="textarea" placeholder="[更新程序说明]：说明本任务涉及到哪些业务模块的调整，具体修改思路和方法是什么？


[更新程序列表]：如果“更新列表”能包含就可以为空不填，如果有附件的请说明sql语句更新点，如果有说明文档也请说明用来做什么的？


[更新表及说明]：如果涉及到表结构更新，数据配置等请列举涉及到的表名；


[前置后续任务说明]：如果本任务需要在前置任务更新或者测试后才能测试的，请说明前置任务。如果本任务需要在后续任务进行检测，请说明后续任务号及任务标题。


[测试要点]： 说明测试的重点，如果担心测试人员只测这些，可以多写一些可能需要测试的方面。


" maxlength="2000" required="true">[[${taskPerform.dealDesc}]]</textarea>
									<!-- <div id="submission_btn" style="margin:5px;">
										<button type="button" class="button" onclick="submission_edit()">编辑</button>
									</div> -->
								</td>
							</tr>
							</tbody>
						</table>
					</form>
				</div>
		</div>
		<div th:include="include :: footer"></div>
	<script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
	<script th:src="@{/ajax/libs//datapicker/bootstrap-datetimepicker.min.js}"></script>
	<script type="text/javascript">
	var prefix = ctx + "work/task";
	$(function(){
		/* 初始化日期选择插件 */
		$(".input-group.date").datetimepicker({
	 	   format: "yyyy-mm-dd",
	 	   minView: "month",
	 	   autoclose: true
	 	 });
		//初始化复制插件
		initCopyBtn();
		
		var param = "[[${task.appendix.downloadParam}]]".replace("&amp;","&");
    	$("#appendixLink").click(function(){
    		downloadFile(param);
    	});
    	$("#appendixLink2").click(function(){
    		downloadFile(param);
    	});
	});
	var copyText = "[[${task.taskId+" - 【"+task.taskTypeText+"】"+task.taskTitle}]]";
	function initCopyBtn() {
		//实例化 ClipboardJS对象;
        var copyBtn = new ClipboardJS('.copyBtn', {
            text: function () {
                return copyText;
            }
        });
        copyBtn.on("success",function(e){
            // 复制成功
            layer.msg("【复制成功】"+e.text);
            e.clearSelection();
        });
        copyBtn.on("error",function(e){
            //复制失败；
            console.log( e.action )
        });
	}
	function submission_edit(){
		setEnabled("#submission");
		$("#submission_btn").html('');
		$("#submission_btn").append('<button type="button" class="button" onclick="submission_save()">保存</button>');
		$("#submission_btn").append('<button type="button" class="btn" onclick="submission_cancel()">取消</button>');
	}
	var _submission = $("#submission").val();
	function submission_save(){
		var content = $("#submission").val();
		/* $.post("/PowerSiIM/prjexe/task/saveSubmissionContent.action", {taskId: TASK_ID, content: content}, function(data, status) {	  
			if (!checkJSONResult(data)) {
			  	return;
		    }
		},"json"); */
		_submission = content;
		submission_cancel();
	}
	function submission_cancel(){
		$("#submission").val(_submission);
		setDisabled("#submission");
		$("#submission_btn").html('');
		$("#submission_btn").append('<button type="button" class="button" onclick="submission_edit()">编辑</button>');
	}
	function setDisabled(obj){
		$(obj).attr("disabled",true);
		$(obj).attr("readonly",true);
	}
	function setEnabled(obj){
		$(obj).attr("disabled",false);
		$(obj).attr("readonly",false);
	}
	var index;
	function submitHandler(auditFlag,auditType){
		//审核通过
		if(auditFlag==1){
			index = $.modal.openDiv("审批", "#"+auditType+"Dlg");
		}else{//驳回
			layer.prompt({
				formType: 2,
				value: '',
				title: '请输入驳回原因'
				//area: ['800px', '350px'] //自定义文本域宽高
				}, function(value, index, elem){
	    			var url = prefix+"/batchAudit";
	    			var data = { "taskRecordId": '[[${taskRecordId}]]',"auditFlag" : auditFlag ,"params[auditTypeText]" : auditType ,"remark":value};
					layer.close(index);
					$.post(prefix+"/batchAudit",data,function(result){
						if(result.code==0){
							layer.msg(result.msg,{time:1000},function(){
								  window.parent.$.modal.closeAll();
								  window.parent.$.table.refresh();
							}); 
						}else{
							$.modal.msgError(result.msg);
						}
					});
			});
		}
	}
	
	//下载附件
	function downloadFile(downloadParam){
	    window.location.href = ctx + "common/download" + downloadParam;
	    
	}
	
	function audit(auditType){
		var auditHours = $("#auditHours").val();
		if(auditType=="submit"){
			if($.common.isEmpty(auditHours) || !$.common.isNumber(auditHours)){
				$.modal.tips("#auditHours","审核工时不能为空,且只能输入正整数");
				return;
			}
		}
		$.post(prefix+"/batchAudit",$("#task-"+auditType+"-form").serialize(),function(result){
			if(result.code==0){
				layer.msg(result.msg,{time:1000},function(){
					  window.parent.$.modal.closeAll();
					  window.parent.$.table.refresh();
				}); 
			}else{
				$.modal.msgError(result.msg);
			}
		});
	}
	function cancelAudit(auditType){
		$("#task-"+auditType+"-form")[0].reset();
		layer.close(index);
	}
	</script>


</body>
<div id="submitDlg" style="display: none;">
	<form id="task-submit-form" name="submitForm" method="post" >
		<table class="tableEditor"><colgroup><col width="20%" /><col width="80%" /></colgroup>
			<tbody>
				<tr>
					<td class="tdLabel">
						<input type="hidden" name="params[auditTypeText]" value="submit"/>
						<input type="hidden" name="auditFlag" value="1"/>
						<input type="hidden" name="taskRecordId" th:value="${task.taskRecordId}"/>
						<label for="auditHours" class="textLabel"><span>审核工时</span><span class="required requiredLabel">*</span></label>
					</td>
					<td class="tdInput">
						<input type="text" name="params[auditHours]" id="auditHours">
					</td>
				</tr>
				<tr>
					<td class="tdLabel">
						<label for="remark" class="textLabel"><span>备注</span><span class="requiredLabel">&nbsp;</span></label>
					</td>
					<td class="tdInput">
					<textarea name="remark" cols="" rows="5" class="textarea" maxlength="2000"></textarea></td>
				</tr>
			</tbody>
		</table>
		<table class="tableEditor"><colgroup><col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" /></colgroup>
			<tbody>
				<td class="tdButton" colspan="6">									
					<button type="button" class="button" onclick="audit('submit')">保  存</button>
					<button type="button" class="button" onclick="cancelAudit('submit');">取  消</button>							
				</td>
			</tbody>
		</table>
	</form>
</div>
<div id="alterDlg" style="display: none;">
	<form id="task-alter-form" name="alterForm" method="post" >
		<table class="tableEditor"><colgroup><col width="20%" /><col width="80%" /></colgroup>
			<tbody>
				<tr>
					<td class="tdLabel">
						<input type="hidden" name="params[auditTypeText]" value="alter"/>
						<input type="hidden" name="taskRecordId" th:value="${task.taskRecordId}"/>
						<input type="hidden" name="auditFlag" value="1"/>
						<label for="remark" class="textLabel"><span>备注</span><span class="requiredLabel">&nbsp;</span></label>
					</td>
					<td class="tdInput">
					<textarea name="remark" cols="" rows="5" class="textarea" maxlength="2000"></textarea></td>
				</tr>
			</tbody>
		</table>
		<table class="tableEditor"><colgroup><col width="20%" /><col width="30%" /><col width="20%" /><col width="30%" /></colgroup>
			<tbody>
				<td class="tdButton" colspan="6">									
					<button type="button" class="button" onclick="audit('alter')">保  存</button>
					<button type="button" class="button" onclick="cancelAudit('alter');">取  消</button>							
				</td>
			</tbody>
		</table>
	</form>
</div>
</html>
