<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
  <meta charset="utf-8">
  <title>控制台</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/oaui/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="/oaui/style/admin.css" media="all">
  <link th:href="@{/ajax/libs/eson-master/eson/styles/eson.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/calendar.css}" rel="stylesheet" type="text/css">
  
  <style type="text/css">
  	.calendar-body li div {
	    line-height: 100%;
	    height: 46px;
	    height: 37px;
	}
  </style>
</head>
<body>
  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8">
        <div class="layui-row layui-col-space15">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">快捷方式</div>
              <div class="layui-card-body">
                
                <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/dayclock}" title="日常考勤" class="link-tab">
                          <i class="layui-icon layui-icon-date"></i>
                          <cite>日常考勤</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/work/task/audit}" title="任务审批" class="link-tab">
                          <i class="layui-icon layui-icon-list"></i>
                          <cite>任务审批</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/dayclock}" title="任务执行" class="link-tab">
                          <i class="layui-icon layui-icon-rate"></i>
                          <cite>任务执行</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/attendBill/apply}" title="考勤申请" class="link-tab">
                          <i class="layui-icon layui-icon-chart"></i>
                          <cite>考勤申请</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/attendBill/mine}" title="我的考勤单" class="link-tab">
                          <i class="layui-icon layui-icon-survey"></i>
                          <cite>我的考勤单</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/overtimeBill/backlog}"	title="延时待办" class="link-tab">
                          <i class="layui-icon layui-icon-chat"></i>
                          <cite>延时待办</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/yearVacation/yearVacation}" title="年假查询" class="link-tab">
                          <i class="layui-icon layui-icon-tree"></i>
                          <cite>年假查询</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/report/dept}" title="部门考勤月报" class="link-tab">
                          <i class="layui-icon layui-icon-chart-screen"></i>
                          <cite>考勤月报</cite>
                        </a>
                      </li>
                      
                    </ul>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs3">
                        <a th:href="@{/attend/attendBill/backlog}" title="考勤待办" class="link-tab">
                          <i class="layui-icon layui-icon-flag"></i>
                          <cite>考勤待办</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/system/user/profile}" title="个人中心" class="link-tab">
                          <i class="layui-icon layui-icon-username"></i>
                          <cite>个人中心</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/system/user}" title="用户管理" class="link-tab">
                          <i class="layui-icon layui-icon-user"></i>
                          <cite>用户管理</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/system/notice}" title="通知公告" class="link-tab">	
                          <i class="layui-icon layui-icon-notice"></i>
                          <cite>通知公告</cite>
                        </a>
                      </li>
                      <li class="layui-col-xs3">
                        <a th:href="@{/monitor/operlog}" title="操作日志" class="link-tab">	
                          <i class="layui-icon layui-icon-log"></i>
                          <cite>操作日志</cite>
                        </a>
                      </li>
                    </ul>
                    
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">待办事项</div>
              <div class="layui-card-body">

                <div class="layui-carousel layadmin-carousel layadmin-backlog">
                  <div carousel-item>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs6">
                        <a th:href="@{/attend/overtimeBill/backlog}" title="延时待办"  class="layadmin-backlog-body link-tab">
                          <h3>延时待办</h3>
                          <p><cite>[[${backlogMap.overtimeBacklogCount}]]</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a th:href="@{/attend/attendBill/backlog}" title="考勤待办"  class="layadmin-backlog-body link-tab">
                          <h3>考勤待办</h3>
                          <p><cite>[[${backlogMap.attendBacklogCount}]]</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a th:href="@{/work/task/mineBacklog}" title="个人任务待办"  class="layadmin-backlog-body link-tab">
                          <h3>个人任务待办</h3>
                          <p><cite style="color: #FF5722;">[[${backlogMap.mineTaskCount}]]</cite></p>
                        </a>
                      </li>
                      <li class="layui-col-xs6">
                        <a th:href="@{/work/task/deptBacklog}" title="部门任务待办"  class="layadmin-backlog-body link-tab">
                          <h3>部门任务待办</h3>
                          <p><cite>[[${backlogMap.deptTaskCount}]]</cite></p>
                        </a>
                      </li>
                    </ul>
                    <ul class="layui-row layui-col-space10">
                      <li class="layui-col-xs6">
                        <a th:href="@{/work/task/audit}" title="任务审核待办"  class="layadmin-backlog-body link-tab">
                          <h3>任务审核待办</h3>
                          <p><cite>[[${backlogMap.taskAuditCount}]]</cite></p>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layui-col-md12">
            <div class="layui-card">
              <div class="layui-card-header">
              	公司公告
              	<a th:href="@{/system/notice}" title="公告通知" class="layui-a-tips link-tab">全部公告</a>
              </div>
              <div class="layui-card-body">
	            <div class="layui-row layui-col-space10" th:if="${not #lists.isEmpty(noticeList)}">
	              <div class="layui-col-xs12 layui-col-sm4" th:each="notice : ${noticeList}">
	                <div class="layuiadmin-card-text">
	                  <div class="layui-text-top">
		                  <i class="layui-icon layui-icon-notice" th:if="${notice.noticeType=='1'}"></i>
		                  <i class="layui-icon layui-icon-speaker" th:if="${notice.noticeType=='2'}"></i>
		                  <a href="javascript:void(0)"><span th:text="${notice.noticeType=='1'?'通知':'公告'}"></span></a>
	                  </div>
	                  <a  class="notice-link" th:title="${notice.noticeId}" href="javascript:void(0)" shiro:hasPermission="system:notice:detail"><p class="layui-text-center" th:text="${notice.noticeTitle}"></p></a>
	                  <p class="layui-text-bottom"><a class="notice-link" th:title="${notice.noticeId}" href="javascript:void(0)"  shiro:hasPermission="system:notice:detail">详情</a><span>[[${#dates.format(notice.updateTime!=null?notice.updateTime:notice.createTime, 'yyyy-MM-dd')}]]</span></p>
	                </div>
	              </div>
	              
	              
	              
	            </div>
	          </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="layui-col-md4">
        <div class="layui-card">
          <div class="layui-card-header">员工签到</div>
          <div class="layui-card-body layui-text">
			<button class="layui-btn layui-btn-normal layui-btn-fluid" onclick="checkin()" hiro:hasPermission="attend:dayclock:checkin">签到</button>
          </div>
        </div>
        <div class="layui-card">
          <!-- <div class="layui-card-header">挂历本</div> -->
          <div class="layui-card-body layui-text">
          	<div class="calendar-person" id="calendarDIV" ></div>
          </div><!-- style="margin: 0 auto;width: 380px;" -->
        </div>
        <div class="layui-card" style="height: 360px;padding: 1 auto;">
        	<iframe width="70%" height="98%" th:src="@{/system/test}" frameborder="0" seamless></iframe>
        </div>

      </div>
      
    </div>
  </div>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script src="../static/oaui/layui/layui.js?t=1" th:src="@{/oaui/layui/layui.js?t=1}"></script>  
  <script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
  <script th:src="@{/ajax/libs/eson-master/eson/eson.js}" charset="utf-8" type="text/javascript"></script>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/ajax/libs/eson-master/eson/nl.min.js}" charset="utf-8" type="text/javascript"></script>
  <script src="../static/numberone/main.js" th:src="@{/numberone/main.js}"></script>
  <script src="../static/numberone/calendar.js"  th:inline="javascript" th:src="@{/numberone/calendar.js}"></script>
  
  <script th:inline="javascript">
	var attendCode = [[${@dict.getType('emp_attend_code')}]];
	$(document).ready(function(){
		initattendCode(attendCode);
		initEson("calendarDIV");
	});
	
	$(window).resize(function(){
		initEson("calendarDIV");
	});
	layui.config({
		base: '/oaui/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(['index', 'console','laydate'],function(){
	var laydate = layui.laydate;
	
  });
  
  function checkin(){
	  var currHour = new Date().getHours();
	  if(currHour>9 && currHour<17){
		  layer.confirm("现在是上班时间，确认要签到吗？",function(index){
			  layer.close(index);
			  submitCheckin();
		  });
	  }else if(currHour==5){
		  layer.alert("当前为系统维护时间，无法签到");
		  return;
	  }else{
		  layer.confirm("确认要签到吗？",function(index){
			  layer.close(index);
			  submitCheckin();
		  });
	  }
  };
  
  function submitCheckin(){
	  
	  var index = layer.load(1, {shade: [0.8, '#fafafa']});
	  //提交签到
	  $.post('/attend/dayclock/checkin',function(data){
		  if(data.code==0){
			  layer.msg("签到成功");
			  layer.close(index);
		  }else{
			  layer.msg("签到失败");
			  layer.close(index);
		  }
	  });
  }
  </script>
  
</body>
</html>

