<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	
	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form role="form" id="yearVacation-search-form" class="form-horizontal">
					<div class="col-md-6">
						<div class="form-group draggable">
							<label class="col-sm-3 control-label">部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门：</label>
							<div class="col-sm-9">
								<select name="params[deptId]" class="form-control" th:with="type=${@dict.getTypeByUserId('sys_dept')}" id="deptInput">
									<option value=""></option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group draggable">
							<label class="col-sm-3 control-label">员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工：</label>
							<div class="col-sm-9">
								<select class="form-control" id="userInput" name="userInput">
								</select>
								<input type="hidden" name="params[userIds]" id="userIds">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group draggable">
							<label class="col-sm-3 control-label">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;度：</label>
							<div class="col-sm-9">
								<input type="text" class="form-control year-input"  name="year" th:value="${currYear}">
							</div>
						</div>
					</div>
					
					
					<div class="col-md-6 ">
						<div class="form-group draggable">
							<div class="col-sm-12">
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
					    		<a class="btn btn-warning btn-rounded btn-sm" onclick="reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		
			<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
		        <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="attend:dayclock:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
    <script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script th:inline="javascript">
		var prefix = ctx + "attend/yearVacation";
		
		$(function() {
			/* userInput deptInput初始化select2 */
        	$('#deptInput').select2({
			    placeholder: '请选择'
			});
        	$("#userInput").select2({
        		placeholder : "请输入人员工号或名称或名称首字母...",
        		minimumInputLength : 1,//最小需要输入多少个字符才进行查询
        		multiple : true,//支持多选
        		allowClear : true,//允许清空
        		ajax : {
        			url : "/system/user/searchUser",
        			dataType : 'json',
        			type : "post",
        			delay : 100,
        			data : function(userName, page) {//向后台发送参数
        				return {
        					userName : userName.term
        				};
        			},
        			results : function(data, page) {//处理结果
        				return {
        					data
        				};
        			}
        		},
        		formatResult : function(result, container, query, escapeMarkup) {
        			return result.userName;
        		},
        		formatSelection : function(result, container, query, escapeMarkup) {
        			return result.userName;
        		},
        		formatInputTooShort : function() {
        			return "请输入人员工号或名称或名称首字母...";
        		},
        		escapeMarkup : function(m) {
        			return m;
        		}
        	});
        	$("#userInput").change(function(){
        		$("#userIds").val($.form.selectSelects("userInput"));
        	});
			layui.use('laydate', function(){
			  var laydate = layui.laydate;
			  
			  laydate.render({
				  elem: '.year-input',
				  type: 'year',
				  trigger: 'click'
				});
			});
			
		    var options = {
		        url: prefix + "/list",
		        createUrl: prefix + "/add",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        modalName: "年假",
		        search: false,
		        showExport: false,
		        columns: [{
								field: 'user.empId',   
								title: '工号',
								align: 'center',
								valign: 'middle'
							},{
								field: 'user.userName',   
								title: '姓名',
								align: 'center',
								valign: 'middle'
							}, {
								field: 'dept.deptName',   
								title: '部门',
								align: 'center',
								valign: 'middle'
							}, {
								field: 'year',   
								title: '年度',
								align: 'center',
								valign: 'middle'/* ,
								formatter: function(value, row, index) {
									
					                return value.split(' ')[0];
					            } */
							}, {
								field: 'timeTotal',   
								title: '年假总天数',
								align: 'center',
								valign: 'middle'
							}, {
								field: 'timeUsed',   
								title: '已使用年假',
								align: 'center',
								valign: 'middle'
							}, {
								field: 'timeSurplus',   
								title: '剩余年假',
								align: 'center',
								valign: 'middle'
							}
						]
		    };
		    $.table.init(options);
		});
		//重置表单
		function reset(){
			$("#yearVacation-search-form")[0].reset();
			$('#deptInput').val("").trigger('change');
		    $('#userInput').val("").trigger('change');
		    $("#userIds").val("");
		}
	</script>
</body>
</html>