<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-workdate-edit" th:object="${empNonworkday}">
            <input id="nonworkId" name="nonworkId" th:field="*{nonworkId}"  type="hidden">
            <div class="form-group">
				<label class="col-sm-3 control-label ">日期：</label>
				<div class="col-sm-8" >
					<input class="form-control" type="date" id="workdate" th:value="*{workdateStr}"  name="workdate"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">日程类型：</label>
				<div class="col-sm-8">
					<select id="workdateType" name="workdateType" class="form-control m-b" th:with="type=${@dict.getType('emp_workdate_type')}">
	                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:field="*{workdateType}" th:value="${dict.dictValue}"></option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">日程名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="workdateName" th:field="*{workdateName}" id="workdateName">
				</div>
			</div> 
			<div class="form-group">
				<label class="col-sm-3 control-label">日程状态：</label>
				<div class="col-sm-8">
                    <select id="workdateFlag" name="workdateFlag" class="form-control m-b" th:with="type=${@dict.getType('emp_workdate_flag')}">
                    	<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{workdateFlag}" ></option>
	                </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">说明：</label>
				<div class="col-sm-8">
					<textarea class="form-control"  name="description" id="description" th:field="*{description}"></textarea>
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script th:src="@{/ajax/libs/summernote/summernote.min.js}"></script>
    <script th:src="@{/ajax/libs/summernote/summernote-zh-CN.js}"></script>
    <script type="text/javascript">
    	var prefix = ctx + "attend/workday";
        $("#form-workdate-edit").validate({
        	rules:{
        		workdate:{
        			required:true,
        			remote: {
                        url: prefix + "/checkWorkdateUniqueForUpdate",
                        type: "post",
                        dataType: "json",
                        data: {
                        	workdate : function() {
                                return $.common.trim($("#workdate").val());
                            },nonworkId : function() {
                            	return $.common.trim($("#nonworkId").val());
                            }
                        },
                        dataFilter: function(data, type) {
                        	return $.validate.unique(data);
                        }
                    }
        		},
        		workdateType:{
        			required:true
        		},
        		workdateName:{
        			required:true,
        			minlength: 1,
        			maxlength: 20
        		},
        		workdateFlag:{
        			required:true
        		}
            },
        	messages: {
                "workdate": {
                    remote: "日期已经存在"
                }
            }
        });

        function edit() {
        	var nonworkId = $("input[name='nonworkId']").val();
        	var workdate = $("input[name='workdate']").val();
        	var workdateType = $("select[name='workdateType']").val();
        	var workdateName = $("input[name='workdateName']").val();
        	var workdateFlag = $("select[name='workdateFlag']").val();
        	var description = $("input[name='description']").val();
        	$.ajax({
        		cache : true,
        		type : "POST",
        		url : prefix + "/edit",
        		data : {
        			"nonworkId": nonworkId,
        			"workdate": workdate,
        			"workdateType": workdateType,
        			"workdateName": workdateName,
        			"workdateFlag": workdateFlag,
        			"description": description
        		},
        		async : false,
        		error : function(request) {
        			$.modal.alertError("系统错误");
        		},
        		success : function(data) {
        			$.operate.successCallback(data);
        		}
        	});
        }
        
        function submitHandler() {
	        if ($.validate.form()) {
	        	edit();
	        }
	    }
       </script>
</body>
</html>
